{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            
            {% for ds in datasets %}
                <div class="col-md-4">
                    <div class="card border-secondary mb-3" style="max-width: 20rem;">
                      <div class="card-header">Dataset</div>
                      <div class="card-body">
                        <h3>{{ ds.name }}</h3>
                        <p class="card-text">{{ ds.description|truncate(200, True) }}</p>
                        <span class="badges">
                            <span class="badge badge-pill badge-info">tag1</span>
                            <span class="badge badge-pill badge-info">tag2</span>
                            <span class="badge badge-pill badge-info">tag2</span>
                        </span>
                        <br>
                        <br>
                        <a href="#" class="btn btn-primary btn-block" onclick='get_data({{ ds.data | tojson }})'>Download
                        <i class="fas fa-download"></i>
                        </a>
                      </div>
                    </div>
                </div>
            {% endfor %}
        
        </div>
    </div>
    
    <style type="text/css">
        .badges {
            margin-top: -5px;
            margin-bottom: 20px;
        }
    </style>
    
    <script src="{{ url_for('static', filename='CSVExport.js') }}"></script>
    <script>
        function get_data(data){
          data = JSON.parse(data);
          //var data = [{Name: "Bob"}, {Name: "Frank"}, {Name: "Henry"}];
          console.log(data);
          var x = new CSVExport(data);
          return false;
        }
    </script>
    
{% endblock %}